/* .container {
    border: 5px #80714A solid;
    border-radius: 2vw;
    margin: 0 10% 0 10%;
}

.item {
    display: flex;
    justify-content: space-around;
}


h3 {
    font-size: 1.5vw;
}

.titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
}

.box p {
    font-size: 1vw;
    font-style: italic;
    text-align: center;
}

.item img {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width: 30%;
    margin: 6% 5% 5% 5%;
    border: solid white 2px;
    border-radius: 20%;
}

.purchase {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 170px;
}

.purchase p{
    margin-left: 100px;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 20px;
}

.purchase button{
    border: none;
    margin: 0;
    max-width: 15%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container hr {
    background-color: #80714A;
    width: 100%;
    height: 5px;
}

.total{
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
    text-align: end;
    margin-right: 5%;
    margin-bottom: 3%;
}

.quantity-container {
    border: solid #80714A 5px;
    border-radius: 1vw;
    width: 7vw;
    height: 3vw;
    transition: .5s;
    font-size: 2vw;
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #424B54;
    padding-top:4%;
    padding-left: 2%;
    background-color: #EFE2BD;
}

.quantity-container:hover {
    background-color: #BDAE86;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  transform: rotate(90deg);
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
} 
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
 */


.container {
    border: 5px #80714A solid;
    border-radius: 2vw;
    margin: 0 10% 0 10%;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item img {
    width: 15vw;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid white 2px;
    border-radius: 20%;
}

.titles p {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.container p {
    font-weight: bold
}

.purchase button{
    border: none;
    margin: 0;
    max-width: 15%;
}

.container hr {
    background-color: #80714A;
    width: 100%;
    height: 5px;
    margin: 0;
}

.total{
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
    text-align: end;
    margin-right: 5%;
    margin-bottom: 2%;
}

.quantity-container {
    border: solid #80714A 5px;
    border-radius: 1vw;
    width: 7vw;
    height: 3vw;
    transition: .5s;
    font-size: 2vw;
    text-align: center;
    font-family: "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #424B54;
    /* padding-top:4%;
    padding-left: 2%; */
    background-color: #EFE2BD;
}

.quantity-container:hover {
    background-color: #BDAE86;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  transform: rotate(90deg);
} */

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
} 
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}