.navbar{
    position: fixed;
    background-color: #BDAE86;
    border-bottom: 5px white solid;
    top: 0;
    left: 0;
    right: 0;
  }
.navbar .items{
    display: flex;
    justify-content:center; 
    color: #424B54;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

.navbar .items img {
  width:2%;
}

.navbar .items a{
  padding-left: 1%;
  padding-right: 2%;
}

.header {
  background-color: #D8C5B1;
  border-bottom: 5px white solid;
  margin-top: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header #search {
  width: 35%;
  /* height: 20%; */
  margin-left: 5%;
  border-radius: 500px;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: none;
}

.header h1 {
  padding-left: 5%;
}

.header #search-icon {
  width:5%;
}

.header #icon {
  width: 10%;
  border-style: solid;
  border-color: white;
  border-radius: 100000px;
  border-width: 5px;
}

#m-icon {
  display: none;
}