.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.product-box {
  border: #80714A solid 5px;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
}

.box img {
  justify-content: space-around;
}

.nav-button {
  padding: 0;
  border: none;
  background: none;
  color: #80714A;
  font-size: 4vw;
}